body
{
    font-family: 'Montserrat';
    margin: 0;
}

.text-header
{ 
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.text-small
{
    font-size: 13px;
    font-weight: 500;
    color:#c7c7c7;
    margin-top: 0;
}

.text-big
{
    font-size: 26px;
    font-weight: 1000;
    color:white;
    margin-bottom: 0;
    margin-top: 0;
}


.flexbox-item-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.flexbox-container
{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.info-block
{
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.item
{
    width: 150px;
    margin-bottom: auto;
    margin-top: auto;
    border-left: 3px #F14D34 solid;
    padding-left: 10px;
}

.row
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.block
{
    display: flex;
    flex-direction: column;
}

.block-1
{
    margin-top: 2rem;
}

button
{
    color:rgb(201, 201, 201);
    background-color:#6494ed00;
    border-color: rgb(255, 88, 46);
    height: 55px;
    width: 200px;
    border-radius: 6px;
    border-width: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

video
{
    z-index: 0;
    position: relative;
    width: 340%;
    filter: brightness(20%);
}

.bg-logo
{
    position: absolute;
    top: -3%;
    right: 8%;
    width: 100%;
}

.overlay
{
    z-index: 1;
    position: absolute;
}


.img-small
{
    width: 15%;
}

.mobile-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.line {
    display: block;
    height: 3px;
    width: 30px;
    background: #818181;
    margin-top: 4px;
    border-radius: 6px;
    margin-right: 10px;
}