header
{
    background-color:#1d1d1d;
    height: 80px;
    padding: 10px;
}

body
{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#f7f7f7;
    background-color:#2c2c2c;
    margin:0;
}

#logo
{
    float: left;
}

#nav-menu
{
    font-size: medium;
    padding-top: 8px;
}

#page-title
{
    font-size: xx-large;
    font-weight: 400;
}

#main
{
    background-color: #1d1d1d;
    max-width: 960px;
    margin:0 auto;
    margin-top: 20px;
    padding:10px;
}

span.group-name
{
    font-size: larger;
    font-variant: small-caps;
}

#list
{
    margin:0;
}

#form
{
    padding-left: 25px;
}

#table
{
    padding-left: 25px;
}

tr.chet
{
    background-color: #496381;
}

tr.nechet
{
    background-color: #84aad8;
}


a:link 
{
    color:#1282ff;
}

a:visited 
{
    color:#0d498f;
}

a:hover 
{
    color:#cbe9ff;
}

a:active 
{
    color:#73bbff;
}
