<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Задание 8</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <button data-modal-target="#modal" id="showForm">Открыть форму</button>

    <div class="modal" id="modal">
      <div class="modal-header">
        <div class="title">Форма обратной связи</div>
        <button data-close-button class="close-button">Назад</button>
      </div>
      <form
        class="modal-body formcarryForm"
        id="myForm"
        action="https://formcarry.com/s/7hcQamA0Or"
        enctype="multipart/form-data"
      >
        <label for="name">ФИО:</label>
        <input type="text" id="name" name="name" required autocomplete="off" />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          autocomplete="off"
        />

        <label for="phone">Телефон:</label>
        <input type="tel" id="phone" name="phone" autocomplete="off" />

        <label for="organization">Организация:</label>
        <input
          type="text"
          id="organization"
          name="organization"
          autocomplete="off"
        />

        <label for="message">Сообщение:</label>
        <textarea
          id="message"
          class="text-area"
          name="message"
          required
          autocomplete="off"
        ></textarea>
        <div class="">
          <label for="agree"
            >Согласие с политикой обработки персональных данных:</label
          >
          <input type="checkbox" id="agree" name="agree" required />
        </div>

        <button type="submit" id="submitForm">Отправить</button>
      </form>
    </div>
    <div id="messageBox" class="messageBox">...</div>
    <div id="overlay"></div>
    <script src="PopUpAnim.js"></script>
    <script src="LocalStorage.js"></script>

    <script>
      const messageBox = document.getElementById("messageBox");

      //messageBox.innerHTML = "Мы получили вашу заявку, спасибо";
      //messageBox.innerHTML = "Проверка поля не удалась";
      //https://formcarry.com/s/7hcQamA0Or

      $(function () {
        $(".formcarryForm").submit(function (e) {
          e.preventDefault();
          // REQUIRED FOR RESET
          var form = $(this);
          var href = form.attr("action");

          $.ajax({
            type: "POST",
            url: href,
            data: new FormData(this),
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (response) {
              if (response.code === 200) {
                alert("We received your submission, thank you!");

                // REQUIRED FOR RESET
                // Reset your form fields after a successful submission
                // If you want to reset fields whether request is successful or not, move this piece of code into complete function
                form[0].reset();
              } else {
                alert("An error occured: " + response.message);
              }
            },
            error: function (err, textStatus) {
              const error = err.responseJSON;

              // validation error
              $.each(error.errors, function (key) {
                var field = $('[name="' + key + '"]');
                field.addClass("fc-field-error");
              });

              alert(
                "Request failed, " +
                  errorObject.title +
                  ": " +
                  errorObject.message
              );
            },
            complete: function () {},
          });
        });
      });
    </script>
  </body>
</html>
