body{
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #e4f3f2;
}
img{
  border-radius: 12%;
}
.gallery{
  width: 85%;
  margin: 0 auto;
  margin-top: 3%;
}

.slick-dots li button:before
{
  font-size: 15px;
  color:#0b232b !important;
}
li.slick-active > button::before
{
  font-size: 20px;
}
.slick-dots
{
  bottom: -60px;
}
.slick-slide img{
  margin: auto;
  width: 270px;
}
.slick-prev:before,
.slick-next:before{
  font-size: 32px;
  color: #0b232b;
}

@media only screen and (min-width: 610px) 
{
  .slick-slide img{
    width: 170px;
  }
}
@media only screen and (min-width: 1080px) 
{
  .slick-slide img{
    width: 250px;
  }
}
@media only screen and (min-width: 1500px) 
{
  .slick-slide img{
    width: 400px;
  }
}

